<%- partial ('_partial/head') %>
<body>
    <div id="container">
        <div id="wrap">
            <%- partial('_partial/header', subnav = false) %>
            <div id="main-wrap" class="outer">
                <div id="main"><%- body %></div>
            </div>
            <%- partial('_partial/footer') %>
        </div>
        <%- partial('_partial/mobile-nav') %>
    </div>
</body>
</html>