<% if (page.path.indexOf('contact') > -1){ %>
    <%- partial('_partial/contact', {post: page, index: false}) %>
<% } else { %>
    <%- partial('_partial/page', {post: page, index: false}) %>
<% } %>