<div class="widget-wrap">
    <h3 class="widget-title"><%= __('Podcast Subscription') %></h3>
    <div class="widget">
        <div class="subscriptions">
            <ul>
                <% for (var i in theme.Subscriptions){ %>
                    <a href="<%= theme.Subscriptions[i] %>"><li><%= i %></li></a>
                <% } %>
            </ul>
        </div>
    </div>
</div>