<% if (site.posts.length){ %>
    <div class="widget-wrap">
        <h3 class="widget-title"><%= __('Recent Posts') %></h3>
        <div class="widget">
            <ul>
                <% site.categories.findOne({name: 'blog'}).posts.sort('date', -1).limit(5).each(function(post){ %>
                    <li>
                        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
<% } %>