<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('Tags') %></h3>
    <div class="widget">
      <%- list_tags({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>