
@import "_variables"
@import "_util/mixin"
@import "_util/grid"
@import "_partial/images"
// @import "nib"

global-reset()

hr
    color: #000
    border-top: 1px solid #000

input, button
    margin: 0
    padding: 0
    &::-moz-focus-inner
        border: 0
        padding: 0

@font-face
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    src: url(font-icon-path + ".eot?v=#" + font-icon-version)
    src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
        url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
        url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
        url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
    height: 100%

body
    background: url(/images/wallcrack.png) no-repeat fixed
    margin: 0
    background-size: contain
    background-color: #35465c !important
    font: font-size font-sans
    -webkit-text-size-adjust: 100%

.outer
    clearfix()
    margin: 0
    padding: auto

.inner
    column(columns)

.left, .alignleft
    float: left

.right, .alignright
    float: right

.clear
    clear: both

#container
    position: relative

.mobile-nav-on
    overflow: hidden
    #mobile-nav
        left: 0

#wrap
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    transition: 0.2s ease-out
    z-index: 1
    //background: color-background

#main
    background-image: url(/images/Gallifreyan_White.jpg) tile center
    top: 0
    bottom: 100%
    overflow: hidden

.archive, .article-inner
    background-color: #eee
    margin: 0 0 5em
    padding: 2em 2em 0

if sidebar and sidebar isnt bottom
    #main
        @media mq-normal
            column(main-column)

if sidebar is left
    @media mq-normal
        #main
            float: right

h1, h2, h3, h4, h5, h6, label
    font-family: font-serif
    font-style: small-caps

@import "_extend"
@import "_partial/header"
@import "_partial/page"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/contact"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"
@import "_partial/nav"

if sidebar
    @import "_partial/sidebar"