<div id="archive-header">
    <% if (page.month){ %>
        <script> 
            var archMonth = DateToMonth(<%= page.month %>, false); 
        </script>
        <h1>Archive</h1> 
        <script> 
            console.log(archMonth);
            document.write(archMonth); 
        </script> <%= page.year %>
    <% } else { %>
        <h1><%= page.tag %></h1>
    <% } %>
</div>
<div id="archive" class="row">
    <div class="col-md-9">
        <% if (pagination == 2){ %>
            <% page.posts.each(function(post){ %>
                <%- partial('article', {post: post, index: true}) %>
            <% }) %>
        <% } else { %>
            <% var last; %>
            <% page.posts.each(function(post, i){ %>
                <% var year = post.date.year(); %>
                <% if (last != year){ %>
                    <% if (last != null){ %>
                        </div></section>
                    <% } %>
                    <% last = year; %>
                    <section class="archive-wrap">
                        <div class="archive-year-wrap">
                            <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
                        </div>
                        <div class="archive">
                <% } %>
                <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
            <% }) %>
        <% } %>
        
        <% if (page.posts.length){ %>
            </div></section>
        <% } %>
        <% if (page.total > 1){ %>
            <%- partial('_nav/pagenav') %>
        <% } %>
    </div>
    <div id="sidebar" class="col-md-3">
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
            <%- partial('_partial/sidebar') %>
        <% } %>
    </div>
</div>
