<title><%= page.category %></title>
<header class="category-header">
    <h1><%= page.category %></h1>
</header>
<div id="category-wrap" class="row">
    <div id="indiv-category" class="col-md-9">
        <% page.posts.each(function(post){ %>
            <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
                <div class="excerpt-inner">
                    <% if (post.title && post.excerpt){ %>
                        <h2>
                            <%= post.title %>
                        </h2>
                        <div class="article-entry" itemprop="articleBody">
                            <%- post.excerpt %>
                            <br>
                            <% if (theme.excerpt_link){ %>
                            <p class="article-more-link">
                                <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                            </p>
                            <% } %>
                        </div>
                        <hr />
                    <% } else if (post.title){ %>
                        <h2>
                            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                        </h2>
                        <hr />
                    <% } %>
                </div>
            </article>
        <% }) %>
        <% if (page.total > 1){ %>
        <nav id="page-nav">
            <%- paginator({
                prev_text: "&laquo; Prev",
                next_text: "Next &raquo;"
            }) %>
        </nav>
    <% } %>
    </div>
    <div id="sidebar" class="col-md-3">
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
            <%- partial('_partial/sidebar') %>
        <% } %>
    </div>
</div>