<title>contactme</title>
<% if (page.link || page.title){ %>
    <header class="category-header">
        <%- partial('post/title', {class_name: page.title}) %>
    </header>
<% } %>
<div id="contact-wrap" class="page-entry" itemprop="pageBody">
    <form action="//formspree.io/<%= theme.contact_email %>" class="col-md-6 col-sm-6 col-xs-12" method="POST">
        <fieldset class="field" id="oneliner">
            <input class="input" type="text" name="name" placeholder="Name" required>
            <label class="label" for="name"><span class="label-content">Your name</span></label>
        </fieldset>
        <fieldset class="field" id="oneliner">
            <input class="input" type="email" name="_replyto" placeholder="example@domain.com" required>
            <label class="label" for="_replyto"><span class="label-content">Your email</span></label>
        </fieldset>
        <fieldset class="field" id="message" >
            <textarea class="input" name="message" cols="50" rows="10" placeholder="Message" required></textarea>
            <label class="label" for="message"><span class="label-content">Your message</span></label>
        </fieldset>
        <input class="hidden" type="text" name="_gotcha" style="display:none">
        <input class="hidden" type="hidden" name="_subject" value="Message from <%= config.url %>">
        <fieldset class="field field-button">
            <input class="button submit" type="submit" value="Send">
        </fieldset>
    </form>
    <script> ContactForm() </script>
    <div id="form-text" class="col-md-5 col-sm-6 col-xs-12">
        <%- page.content %>
    </div>
</div>