<footer id="footer">
    <% if (theme.sidebar === 'bottom'){ %>
        <%- partial('_partial/sidebar') %>
    <% } %>
    <div class="outer">
        <div class="inner">
            <div class="copyright">
                &copy; <%= date(new Date(), 'YYYY') %> <img src="<%- url_for(theme.default_image) %>"> <%=  config.author || config.title %> <span class="impressum"><a href="<%- url_for('/impressum') %>">Impressum</a></span>
            </div>
            <div class="powered alignright">
                <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
            </div>
        </div>
    </div>
</footer>
