<div id="frontpage" class="outer">
    <div id="frontmain" class="inner">
        <% for (var i in theme.frontpage_widgets){ %>
            <% category = i %>
            <div id="frontwidgets" class="widget-<%= i %>">
                <%- partial('_widget/home/' + theme.frontpage_widgets[i], {pagination: config.category, index: true}) %>
        <% } %>
    </div>
</div>
