<!DOCTYPE html>
<html>
<head>
    <meta charset="<%= theme.encoding %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Title-->
    <% var title = page.title;

    if (is_archive()){
        title = __('Archive');
        if (is_month()){
            title += ': ' + page.month + '/' + page.year;
        } else if (is_year()){
            title += ': ' + page.year;
        }
    } else if (is_category()){
        title = page.category;
    } else if (is_tag()){
        title = 'Tag: ' + page.tag;
    } %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

    <!--Site Details-->
    <meta name="author" content="<%= config.author %>">
	<meta name="copyright" contenteditable="<%= config.author %>">
	<meta name="contact" content="<%= config.contact %>">
	<meta name="description" content="<%= config.description %>">
	<meta name="keywords" content="<%= theme.keywords %>">

    <!--Social Media-->
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

    <!--RSS-->
    <% if (theme.rss){ %>
        <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>

    <!--Favicon-->
    <% if (theme.favicon){ %>
     <link rel="icon" href="<%- theme.favicon %>">
    <% } %>

    <!--Stylesheets-->
    <!--Fonts-->
    <% if (config.highlight.enable){ %>
        <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <% } %>
    <%- css("https://fonts.googleapis.com/css?family=Graduate|Roboto:400,400italic", "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css") %>

    <!--Bootstrap-->
    <%- css('css/bootstrap.min.css') %>

    <!--Custom Style-->
    <%- css('css/bowtie') %>

    <!--Scripts-->

    <!--Libraries-->
    <%- js('https://code.jquery.com/jquery-1.12.1.min.js','https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js') %>

    <!--Custom Scripts-->
    <%- js('js/bowtie') %>

    <!-- partial('google-analytics') -->
</head>