<header id="header">
    <div id="banner"></div>
    <div id="header-outer" class="outer">
        <div id="header-title" class="inner">
            <h1 id="logo-wrap">
                <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
            </h1>
            <% if (config.subtitle){ %>
                <h2 id="subtitle"><%= config.subtitle %> <img src="<%- theme.default_image %>"></h2>
            <% } %>
        </div>
        <div id="header-inner" class="inner">
            <%- partial('_nav/main-nav') %>
            <% if (theme.rss && subnav){ %>
                <%- partial('_nav/sub-nav') %>
            <% } %>
    </div>
</header>