<nav id="mobile-nav" class="navbar navbar-default navbar-static-top" role="navigation">
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>" class="mobile-nav-link"><%= i %></a>
  <% } %>
</nav>