<div id="page-wrap" class="outer">
    <header id="page-header">
        <% if (page.title){ %>
            <h1><%= page.title %></h1>
        <% } %>
    </header>
    <div id="page-inner" class="inner">
        <%- page.content %>
    </div>
</div>