<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
    <% theme.widgets.forEach(function(widget){ %>
        <%- partial('_widget/' + widget) %>
    <% }) %>
</aside>
