<nav id="main-nav">
    <a id="main-nav-toggle" class="nav-icon"></a>
    <% for (var i in theme.menu){ %>
        <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
</nav>