<nav id="sub-nav">
    <% if (theme.rss){ %>
        <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
    <% } %>
    <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
</nav>
<div id="search-form-wrap">
    <%- search_form({button: '&#xF002;'}) %>
</div>