#archive-header
  background: #ccc
  padding: 2em
  text-align: center 

#archive 
.archives-wrap
  margin: 0
  padding: 1em 0
  background: #eee 

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archive-article-inner
  @extend $block
  padding: 10px
  margin-bottom: 15px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

// Category
.category-header
    text-align: center
    background: #ccc
    padding: 2em

#category-wrap
    padding: 2em 1em 3em
    margin-bottom: 2em
    background: #eee

#indiv-category
    padding: 0
    .article-entry
        h2, h1
            font-size: 1.4em
    .excerpt-inner
        clearfix()
        padding: 0.25em 2em
        margin: 0
        background: #eee
        p
            text-align: justify
            font-size: 16px
        hr
             margin-top: 20px;
             margin-bottom: 20px;
             border: 0;
             border-top: 1px solid #ccc;