// Contact Page
#contact-wrap
    clearfix()
    overflow: hidden
    background: #eee
    height: 100%
    padding: 2em 1em 4em
    margin: 0 0 3em

form
    text-align: left
    margin: 1em
    color: #000
    display: block
    font-size: 1.5em

form label
    color: #35465c

#form-text
    font-size: 1.5em
    padding: 1em 0

#contactform, .form
    margin-top: 2rem

.field
    border: none
    position: relative
    z-index: 1
    display: block
    margin: 0 1em 0 0
    overflow: hidden


.field:nth-child(3)
    margin-right: 0

.fielt textarea
    width: 75%

.input
    position: relative
    display: block
    float: right
    border: none
    border-radius: 0
    -webkit-appearance: none
    width: 100%
    color: #000
    padding: 1em
    margin-bottom: 2em
    z-index: 100
    opacity: 0
    height: 2rem


textarea.input
    resize: vertical
    padding-bottom: 0
    height: 5em


.input:focus
    outline: none

// label
.label
    display: block
    float: right
    color: #35465c
    font-weight: bold
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    width: 100%
    position: absolute
    text-align: left
    padding: 0.5em 0
    pointer-events: none
    font-size: 1em

.label::before,
.label::after
    content: ''
    position: absolute
    width: 100%
    left: 0

.label::before
    height: 2.1em
    background: #fff
    top: 0
    -webkit-transform: translate3d(0, -100%, 0)
    transform: translate3d(0, -100%, 0)
    -webkit-transition: -webkit-transform 0.3s
    transition: transform 0.3s

.label::after
    height: 2px
    background: #35465c
    top: 100%
    -webkit-transition: opacity 0.3s
    transition: opacity 0.3s

.label-content
    position: relative
    display: block
    width: 100%
    padding: 0
    -webkit-transform-origin: -75% 125%
    transform-origin: -75% 125%
    -webkit-transition: -webkit-transform 0.3s, color 0.3s
    transition: transform 0.3s, color 0.3s

// button
.field-button
    text-align: center

.button
    text-align: center
    margin: 0 1em 1em
    padding: .25em 1em
    box-shadow: 2px 2px #222

.button:hover
	box-shadow: 2px 2px #222

.button:active
    box-shadow: 1px 1px #222

// input focus and filled
.input:focus,
.input--filled .input
    opacity: 1
    -webkit-transition: opacity 0s 0.3s
    transition: opacity 0s 0.3s


.input:focus + .label::before,
.input--filled .label::before
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.input:focus + .label::after,
.input--filled .label::after
    opacity: 0

#oneliner
    .input:focus + .label .label-content,
    .input--filled .label .label-content
        color: #777
        -webkit-transform: translate3d(5em, 1.5em, 0) scale3d(.75, .75, 1)
        transform: translate3d(5em, 1.5em, 0) scale3d(.75, .75, 1)

#message
    .input:focus + .label .label-content,
    .input--filled .label .label-content
        color: #777
        -webkit-transform: translate3d(5em, 5em, 0) scale3d(.75, .75, 1)
        transform: translate3d(5em, 5em, 0) scale3d(.75, .75, 1)