#footer
    background: color-tardis-dark
    display: block
    bottom: 0
    width: 100%
    z-index: 1
    margin: 5em 0 0
    padding: 1em 2em 1em
    position fixed
    color: #ccf
    p
        display inline-block
        font-size 0.85em
        margin 0 5em 0 0
    a
        text-decoration none
        color color-link
        &:hover
            text-decoration: none
    .copyright
        float: left
        text-align: left
        width: 50%
        img
            height: 1em
            width: 1.5em
        @extend $favicon
    .powered
        float: right
        text-align: right

#footer-info
    line-height: line-height