#header
  height: banner-height
  position: relative
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px

#header-outer
  height: 100%
  position: relative

#header-inner
  top: 40%
  position: relative
  overflow: hidden

#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #35465c
  opacity: 0
  background-size: cover
  z-index: -1

#header-title
  text-align: left
  height: logo-size
  position: absolute
  top: 1%
  left: 5%
  margin-top: logo-size / -2

$logo-text
  text-decoration: none
  text-align: left
  font-family: font-sans
  color: #fff
  font-weight: 500
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-size: logo-size
  font-weight: 700
  line-height: logo-size
  letter-spacing: 2px

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  letter-spacing: 1px
  color: #ccc
  img
    height: 30px
    width: 75px
  @extend $favicon

#subtitle-wrap
  margin-top: subtitle-size



