// Background
body
    @media mq-tablet
        background-position: 0 5%
    @media mq-mobile-l
        background-position: 0 5em
        #main
            margin-top: 3%
        #logo
            font-size: 0.8em
        .main-nav-link
            padding: 1em .25em
        #footer
            position: static
        #about
            #abouttext
                padding: 1em 0
        #page-inner
            padding: 1em 0
        .alignright
            float: none
    @media mq-mobile
        #page-inner
            padding: 1em 0
        .alignright
            float: none
            padding: 1em 3em



// Navigation
#mobile-nav
  opacity: 0
  @media mq-mobile
    opacity: 1

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
    position: fixed
    left: 2%
    top: 1%
  @media mq-mobile
    display: block

@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: -100%
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: #fff

@media mq-mobile
  #header
    height: 10em
  #subtitle
    img
      height: 20px
      width: 50px
    @extend $favicon
  #logo
    font-size: 1em
  #header-title
    text-align: center
    left: 0
    top: 0
    padding: 0 .5em
  body
    background: #35465c
  #about
    #abouttext
      padding: 0 0 1em
      margin: 0
  #blogposts,
  #podcastepisodes
    padding: 1em 5%
  #footer
    position: static
    background: none
    padding: 0 .5em 1em
    margin: 0
    width:
    .copyright
        float: none
        width: 100%
        display: block
        text-align: left
        right: 0
  .powered
  .impressum
    display: none
  #sidebar
    display: none

@media mq-mobile
  #search-form-wrap
    position: absolute
    top: 15px
    height: 30px
    opacity: 0
    transition: 0.2s ease-out
    &.on
        opacity: 1
        right: 0
    width: 100%
    right: -100%
  .search-form
    position: absolute
    top: 0
    left: 0
    right: 0
    background: #fff
    padding: 5px 15px
    border-radius: 15px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
  .search-form-input
    border: none
    background: none
    color: color-default
    width: 100%
    font: 13px font-sans
    outline: none
    &::-webkit-search-results-decoration
    &::-webkit-search-cancel-button
        -webkit-appearance: none
  .search-form-submit
    position: absolute
    top: 50%
    right: 10px
    margin-top: -7px
    font: 13px font-icon
    border: none
    background: none
    color: #bbb
    cursor: pointer
    &:hover, &:focus
        color: #777


