//main nav
@media mq-normal
  #nav-wrap
    margin: 0 0 3em
    padding: 0 1em 4em
    background: #eee

#main-nav
  float: right
  top: 0%
  padding: 1em
  @media mq-mobile-l
    margin-top: 5%

$nav-link
  float: left
  color: #ccc
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  font-weight: 700
  font-family: font-serif
  font-size: 18px
  font-weight: 700
  transition: opacity 0.2s
  display: block
  padding: 20px 15px
  &:visited
    color: #ccc
    text-decoration: none
  &:hover
    color: #fff
    text-decoration: none
  &:active,
    color: #fff
    opacity: 0.6
    text-decoration: none

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 15px
  position: relative
  cursor: pointer

.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  @media mq-mobile
    display: none

#sub-nav
  float: right
  margin-right: -15px

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"

// article and page nav
#article-nav-newer
    float: left

#article-nav-older
    float: right

#article-nav
  clearfix()
  position: relative
  @media mq-normal
    margin: block-margin 0
    &:before
      absolute-center(8px)
      content: ""
      border-radius: 50%
      background: color-border
      box-shadow: 0 1px 2px #fff

.article-nav-link-wrap
#page-nav
  text-decoration: none
  text-shadow: 0 1px #fff
  color: color-grey
  box-sizing: border-box
  margin-top: block-margin
  text-align: center
  display: block
  &:hover
    color: color-default
  @media mq-normal
    width: 50%
    margin-top: 0

#article-nav-newer
  @media mq-normal
    float: left
    text-align: right
    padding-right: 20px

#article-nav-older
  @media mq-normal
    float: right
    text-align: left
    padding-left: 20px

.article-nav-caption
#page-nav
  text-transform: uppercase
  letter-spacing: 2px
  line-height: 1em
  font-weight: bold
  #article-nav-newer &
    margin-right: -2px

.article-nav-title
  font-size: 0.85em
  line-height: line-height
  margin-top: 0.5em

#page-nav
  clearfix()
  margin: block-margin auto
  border-radius: 3px 10px
  text-align: center
  color: color-grey
  font-weight: 500
  overflow: hidden
  a, span
    padding: .5em 1em
    line-height: 1
    height: 2em
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: color-grey
      font-weight: 500
      color: #eee
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border
