#page-wrap
    background: #eee
    overflow: hidden

#page-header
    background: #ccc
    padding: 2em
    text-align: center

#page-inner
    padding: 1em 2em 5em
    margin: 0 1em 4em

// Front Page
#homepage
    margin: 30% 0 0
    padding: 2em 0 0
    background: #eee
    text-align: center

#about
    h2
        font-family: font-sans
        font-style: italic
        margin-bottom: 0
        opacity 0.6
    h1
        margin-top: 0
        font-size 4em
    #abouttext
        margin: 2em 15%
        padding: 0 5em 2em
        font-size: 1.25em
        line-height 2
        opacity 0.6
        p
            text-align: center

#blogposts
    background: color-footer-background
    padding: 5em 10%
    margin-bottom: 0
    color: color-grey

#podcastepisodes
    background: #eee
    padding: 5em 10%
    margin-bottom: 0

#postimages
#podcastimages
    overflow: hidden
    a:hover
        .frontblog
        .frontpodcast
            display: inline
    .featuredimg
        position: relative
        overflow: hidden
        display: inline
        margin: 0
    img
        height: 20em
        width: 20em
        @media mq-mobile
            title
                display: inline



.frontblog
.frontpodcast
    display: none
    position: absolute
    width: 80%
    line-height: 1
    padding: 1em
    left: 10%
    top: -100%
    text-align: center
    color: #fff
    background: rgba(50,70,92,0.5)
    font-family: font-serif
    font-weight: 500
    font-size: 1em
    @media mq-tablet
        display: inline
        vertical-align: middle
        text-align: center
        left: 0
        top: 0
        margin: auto 2.5em
        padding: auto auto
        width: 15em
    @media mq-mobile-l
        display: inline
        vertical-align: middle
        text-align: center
        left: 0
        top: 0
        margin: auto 2.5em
        padding: auto auto
        width: 15em
    @media mq-mobile
        display: inline
        vertical-align: middle
        text-align: center
        left: 0
        top: 0
        margin: auto 2.5em
        padding: auto auto
        width: 15em