    ul
        list-style-type: none
        line-height: 1.5
    .widget-wrap
        background: color-widget-background
        padding: 1em .5em
        border-radius: 5px
        box-shadow: 0 -1px 4px color-widget-border inset
        margin: 1em 2em 1em 0
    .widget-title
        @extend $block-caption
        text-align: center
        line-height: 1.25
    .widget
        color: color-sidebar-text
        font-weight: 550
        margin-bottom: 0.5em
        a
            text-decoration: none
            &:hover
                text-decoration: none
                color: color-sidebar-text

#search-form-wrap
    width: 90%
    overflow: hidden
    .search
        margin: 0 .25em

.subscriptions
    ul li
        background: #35465c
        border-radius: 3px
        text-align: center
        padding: .5em
        margin: .5em 0
        &:hover
            background: #00294d
            color: #eee
    a
        color: #aaa
        font-weight: 500