if sidebar is bottom
    @import "sidebar-bottom"
else
    @import "sidebar-aside"

#sidebar
    background: #eee
    margin: 0
    padding: 0

.widget
    @extend $base-style
    line-height: line-height
    word-wrap: break-word
    font-size: 0.9em
    ul, ol
        list-style: none
        margin: 0
        padding: 0 1em
        ul, ol
            margin: 0 0.2em
        ul
            list-style: disc
        ol
            list-style: decimal

.category-list-count
.tag-list-count
.archive-list-count
    padding-left: 5px
    color: color-grey
    font-size: 0.85em
    &:before
        content: "("
    &:after
        content: ")"

.tagcloud
    margin-right: .5em
    text-align: center
    a
        display: inline-block