#sidebar
    .widget-wrap
        margin-bottom: block-margin !important
        bottom: 0
    .widget-title
        color: #ccc
        text-transform: uppercase
        letter-spacing: 2px
        margin-bottom: .5em
        line-height: 1em
        font-weight: 700
    .widget
        color: color-grey
#search-form
    overflow: hidden
    top: 0
    right: 0
