<div id="about">
    <div id="abouttitle">
        <h2>a little about...</h2>
        <h1><%= config.author %></h1>
        <hr />
    </div>
    <div id="abouttext">
        <p>The name Bowtie Beej comes from my love of bow ties and my nickname Beej. It came about because Sirius Beej, my gamer tag wasn&#39;t available on Gmail. So I though what do I like as much as dogs and bow ties fit the bill.</p>
        <br>
        <p>I became interested in computers and programming back in high school but my life diverged in college which lead me to graduate school for psychology then medical school. I recently rediscovered my love for programming and technology in general. My blog will mostly focus on my learning process and the tools that I learn along the way. I&#39;m also interested in Do It Yourself Internet of Things and have a section dedicated to that. Outside of computing I enjoy hiking, fishing, spending time with my dog, and riding my motorcycle. </p>
    </div>
</div>