<div id="blogposts">
    <div id="blogtitle">
        <h1>Blog Posts</h1>
        <h5>Read My Recent Posts</h5>
        <hr />
    </div>
    <div id="postimages" class="row">
        <% site.categories.findOne({name: 'blog'}).posts.sort('date', -1).limit(6).each(function(post){ %>
            <% if (post.featured_image){ %>
                <a href="<%- url_for(post.path) %>"><div class="featuredimg"><img src="<%- url_for(post.featured_image) %>" title="<%= post.title %>"><div class="frontblog"><%= post.title %></div></div></a>
            <% } else { %>
                <a href="<%- url_for(post.path) %>"><div class="featuredimg"><img src="<%- url_for(theme.default_image) %>" title="<%= post.title %>"><div class="frontblog"><%= post.title %></div></div></a>
            <% } %>
        <% }) %>
    </div>
</div>