<div id="podcastepisodes">
    <div id="blogtitle" class="row">
        <h1><%= theme.podcast_title %></h1>
        <h5>Listen to the Latest Episodes</h5>
        <hr />
    </div>
    <div id="podcastimages" class="row">
        <% var i = 0; %>
        <% site.categories.findOne({name: 'Podcast'}).posts.sort('date', -1).limit(6).each(function(post){ %>
            <% if (theme.podcast_image_alternating){ %>
                <% if (i % 2 == 0 || i == 0){ %>
                <a href="<%- url_for(post.path) %>"><div class="featuredimg"><img src="<%- url_for(theme.podcast_even_image) %>" title ="<%= post.title %>"><div class="frontpodcast"><%= post.title %></div></div></a>
                <% } else { %>
                    <a href="<%- url_for(post.path) %>"><div class="featuredimg"><img src="<%- url_for(theme.podcast_odd_image) %>" title="<%= post.title %>"><div class="frontpodcast"><%= post.title %></div></div></a>
                <% } %>
            <% } else { %>
                <a href="<%- url_for(post.path) %>"><img src="<%- url_for(theme.podcast_image) %>" title="<%= post.title %>"><div class="frontpodcast"><%= post.title %></div></a>
            <% } %>
            <% i++; %>
        <% }) %>
    </div>
</div>